$primaryColor: #e50914; //buttons
$white: #ffffff; //main headings and showcase section paragraphs
$black: #000000; //background
$grey: #999999; //text
$secondaryColor: #868c91; //icons
$darkColor: #141414;
